<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    <!-- Add your custom CSS -->
    <link href="{{ '/css/override.css' | relative_url }}" rel="stylesheet">
  </head>
  
  <body>
    {% include navlinks.html %}  <!-- New navigation bar -->
    
    <main class="page-content">
      <div class="wrapper">
        {{ content }}  <!-- This will contain your post content -->
      </div>
    </main>

    {% include sharelinks.html %}  <!-- Shared at bottom -->
    
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
